
<div class="writequote">
<button  style="margin-top:35px;" class="btn btn-info btn-lg btn-block btn-raised" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Add your quotes here
  </button>

<div  class="collapse" id="collapseExample" class="container-fluid " style="height :700px;">
  <div style="width:70%; margin:20px auto;">

  <form  action="/quotes/saveQuotes" method="POST"> 
    
    <div class="form-group">
      <label for="exampleFormControlSelect1" style="font-family: 'Lobster', cursive;
      font-family: 'Charm', cursive;"  class="text-light" ><h3>SELECT THE TOPIC</h3></label>
     <select class="form-control " id="exampleFormControlSelect1" name="topic" required style="font-size:20px; font-weight:20px;">
        <option>success</option>
        <option>life</option>
        <option>friends</option>
        <option>teacher</option>
        <option>inspirational</option>
        <option>other</option>

      </select>
    </div>

    <div class="form-group" >
    <label style="margin-top:10px;font-family: 'Lobster', cursive;font-family: 'Charm', cursive;" for="exampleFormControlTextarea1"><h4 class="text-light">WRITE HERE</h4></label>

    <textarea rows="9" id=exampleFormControlTextarea1" class="form-control" name="quote" style="background-color: antiquewhite; border: 1px solid black;font-family: 'Lobster', cursive;
    font-family: 'Cantora One', sans-serif; border-radius: 10px; font-size:22px;"  required></textarea>

    </div>
    
  
   <!-- Button trigger modal -->
  <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
<button type="submit" class="btn btn-primary btn-block btn-lg btn-raised" onclick="alert('added successfully')">
  ADD YOUR QUOTE
</button>
</div>


    
    </div>
  </form>

  
  <!----
  
      <script>
          $('#summernote').summernote({
            placeholder: 'write your thoughts here',
            tabsize: 2,
            height: 200,
            codemirror: { // codemirror options
            theme: 'monokai'
          }
          });

    
         
            
         </script>
     ---->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  </div>
  