<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    

   </style>
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img  class=slider class="d-block w-100" src="../images/butterfly.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img  class=slider class="d-block w-100" src="../images/water.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img  class=slider class="d-block w-100" src="../images/person.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <div class="card-group" style="margin:100px auto;font-family: 'Felipa';"> 
        <div class="card">
          <img class="card-img-top" src="../images/girl.jpg" alt="Card image cap">
          <div class="card-body">

            <h2 class="card-text">“A great attitude becomes a grea tday which becomes a great month which becomes a great year which becomes a great life”

          </h2>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/color.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-text">"Little by little, day by day, what is mean for you WILL find its way"</h2>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/blured.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-text">“The sun is a daily reminder that we too can rise again from the darkness, that we too can shine our own light”

            </h2>
            
          </div>
        </div>
      </div>

</body>
</html>